/* .bg-primary{
    background: linear-gradient(to right, #fc00ff, #00dbde, )!important;
} */

.bg-primary{
    background: linear-gradient(to right, #fc00ff, #00dbde);
}

.my-icon{
    font-size: 50px!important;
    color: #fc00ff;
}

.services-container{
    border: solid 2px #fc00ff;
    padding: 20px;
    cursor: pointer;
}

.services-container:hover{
    background: black;
    color:white;
    border-radius: 20px;
}